# Python cache and build files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/
ENV/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Unit test / coverage reports
.coverage
htmlcov/
.tox/
.nox/
.cache/
.pytest_cache/

# Logs
*.log

# IDE-specific files (PyCharm / JetBrains)
.idea/
*.iml

# OS-specific files
.DS_Store
Thumbs.db
